<!--Character Card-->
<div class="col">
  <div
    class="card char-card zoom-on-hover"
    style="max-width: 300px;"
    data-bs-toggle="modal"
    data-bs-target="#character{{this.id}}"
  >
    <img class="char-img" src="{{this.image}}" alt="" />
    <div class="card-body m-0 p-0 text-center h-100">
      <p class="char-name m-0 pb-1">{{this.name}}</p>
    </div>
  </div>
</div>