<hr class="m-0" />
<footer>
  <p>Made with
    <a class="api-link" href="https://rickandmortyapi.com/" target="_blank">The
      Rick and Morty API</a>
  </p>
  <p><i class="bi bi-code-slash"></i>
    <a
      class="footer-name"
      href="https://justinkenramoso.github.io/portfolio/"
      target="_blank"
    >Justin Ken Ramoso</a></p>
  <div id="my-links" class="d-flex justify-content-center flex-wrap">
    <a href="https://github.com/justinkenramoso/rmdb" target="_blank"><i
        class="bi bi-github"
      ></i>
      GitHub</a>
    <a
      href="https://www.linkedin.com/in/justin-ken-ramoso-1a63b0255/"
      target="_blank"
    ><i class="bi bi-linkedin"></i>
      LinkedIn</a>
  </div>
  <br />
  <p><em>"Get Schwiftyyy."</em></p>

</footer>