<hr class="m-0" />
<footer>
  <p>Made with
    <a href="https://rickandmortyapi.com/">The Rick and Morty API</a>
  </p>
  <p>Developed by <strong>Justin Ken Ramoso</strong></p>
  <div id="my-links" class="d-flex justify-content-center flex-wrap">
    <a href="#"><i class="bi bi-github"></i> GitHub</a>
    <a href="#"><i class="bi bi-linkedin"></i> LinkedIn</a>
  </div>
  <br />
  <p><em>"Get Schwiftyyy."</em></p>

</footer>