<!--Nav-->
<nav id="nav" class="navbar navbar-expand-lg bg-light fw-bold">
  <div class="container-fluid">
    <a class="navbar-brand" onclick="{toApi()}">
      <img id="brand-img" src="/img/rmlogo.svg" alt="" />
    </a>
    <a class="navbar-brand" onclick="{toShow()}">
      <img id="brand-img-2" src="/img/rmlogo.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse nav-links-div"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto me-lg-5 mb-2 mb-lg-0">
        <li class="nav-item mx-2">
          <a class="link-nav {{#if locals.characters}}active-link{{/if}}" href="/characters/all/?page=1">Characters</a>
        </li>
        <li class="nav-item mx-2">
          <a class="link-nav {{#if locals.locations}}active-link{{/if}}" href="/locations/?page=1">Locations</a>
        </li>
        <li class="nav-item ms-2 me-5">
          <a class="link-nav {{#if locals.episodes}}active-link{{/if}}" href="/episodes/?page=1">Episodes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>