<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <!--Custom CSS-->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/landing.css" />
    <link rel="stylesheet" href="/css/characters.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/locations.css" />
    <link rel="stylesheet" href="/css/episodes.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>{{locals.title}}</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  </head>
  <body>
    {{{body}}}

    <!--Bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/1195de0fd6.js"
      crossorigin="anonymous"
    ></script>
    <!--Custom JS-->
    <script src="/js/main.js"></script>
  {{#if response.results}}
      {{#each response.results}}
        {{> character-modal}}
      {{/each}}
    {{/if}}
    {{#unless response.results}}
      {{#unless response.error}}
        {{#each response}}
          {{> character-modal}}
        {{/each}}
      {{/unless}}
    {{/unless}}
  </body>
</html>