{{> nav}}

<main id="episodes" class="container m-auto">
    <h2 class="rm-header" style="margin-top: 20px;">Episodes</h2>
    <h4 class="text-light text-center">This section is still under development :></h4>
    <hr>
    <h5 class="text-light text-center">In the meantime, check out this random yo mama joke: </h5>
    <hr>
    <h3 class="text-center" style="color: #FDFF00">"{{response.joke}}"</h3>
    <div class="mt-5 d-flex jusify-content-center">
        <a class="m-auto btn btn-light" href="/episodes">ANOTHER!</a>
    </div>
    
</main>

{{> footer}}