{{> nav}}

<!--Landing-->
<main id="landing">
    <h3 class="landing-text">An Unofficial</h3>
    <img class="landing-img" src="/img/rmlogo.png" alt="">
    <h3 class="landing-text">Database</h3>
</main>

{{> footer}}