{{> nav}}

<main id="locations" class="container m-auto">
    <h2 class="rm-header" style="margin-top: 20px;">Locations</h2>
    {{{paginate
          pagination
          paginationClass="pagination pagination-sm justify-content-center my-4"
          leftText="Prev"
          rightText="Next"
        }}}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        {{#each response.results}}
            {{> locations-grid}}
        {{/each}}
    </div>
    {{{paginate
          pagination
          paginationClass="pagination pagination-sm justify-content-center mt-5"
          leftText="Prev"
          rightText="Next"
        }}}
</main>

{{> footer}}