#nav {
  background-color: #9cff2e !important;
  position: fixed;
  width: 100vw;
  min-height: 10vh;
  z-index: 10;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
#brand-img {
  width: 40px;
}
#brand-img-2 {
  width: 130px;
}
.link-nav {
  font-size: larger;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 1px;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
}
.link-nav:hover {
  color: black;
  border-bottom: 3px solid #2192ff;
}
.active-link {
  color: black;
  border-bottom: 3px solid #2192ff;
}
